<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" />
    <title>Bienvenu au projet 7 du parcours Data Scientist</title>
</head>

<body>
<h1>Bienvenue sur cette API !</h1>

<p>Bonjour et bienvenue sur mon site : API Scoring.<br />
    Ce modèle, à quoi ça sert ?</p>

<h2>Un modèle pour prédire le risque de défaut de paiement d'un client</h2>

<p> Ce modèle est développé avec les données du passé. Il suffit de renseigner les valeurs de 30 variables pour obtenir un score de défault de paiement !</p>
<p>Vous pourrez ainsi connaître le risque de défaut de paiement d'un client en quelques clicks !</p>

<h2>Tout commence ici</h2>

<p>Vous êtes chaud pour tester le modèle ?<br />
    Rendez-vous sur la page  <a href="model"> du modèle</a>!</p>
</body>
</html>